# EmailJS Configuration
# Obtenha essas credenciais em https://www.emailjs.com/
NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_luist-ls
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_8vzhxeg
NEXT_PUBLIC_EMAILJS_USER_ID=1PLc3xymOa3PrKHEX

# Firebase Configuration
# Obtenha essas credenciais no Firebase Console
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCCnYZhLovinEZrDLHHIfmO-nM7tGrcq4c
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=portfolio-contador.firebaseapp.com
NEXT_PUBLIC_FIREBASE_DATABASE_URL=https://portfolio-contador-default-rtdb.firebaseio.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=portfolio-contador
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=portfolio-contador.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=130162787302
NEXT_PUBLIC_FIREBASE_APP_ID=1:130162787302:web:6c38db876d8fa3f59e4c27
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-QS405DVJED
