/* Estilos Gerais */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s ease;
}

a:hover {
  color: #0056b3;
}

#theme-toggle-container {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 100;
}

#theme-toggle {
  /* Estilos do botão (cor, ícone, etc.) */
  background-color: #f0f0f0;
  color: #333;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode #theme-toggle {
  background-color: #333;
  color: #f0f0f0;
}

/* Cabeçalho */
header {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: background-color 0.3s ease;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

/* Menu de Navegação */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  display: block;
  padding: 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #f0f0f0;
}

/* Menu Hambúrguer (para telas menores) */
#menu-btn {
  display: none;
  cursor: pointer;
}

#menu-btn .bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  transition: all 0.3s ease;
}

/* Estilos para as Seções (Sobre, Projetos, Contato) */
section {
  padding: 80px 0;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  margin-top: 80px;
}

section.visible {
  opacity: 1;
  transform: translateY(0);
}

section h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5em;
}

/* Estilos para a Seção de Experiência */
#experiencia {
  padding: 80px 0; /* Espaçamento interno da seção */
  background-color: #f8f9fa; /* Cor de fundo (modo claro) */
  color: #333; /* Cor do texto (modo claro) */
}

body.dark-mode #experiencia {
  background-color: #212529;
  color: #f8f9fa;
}

.experiencia-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.experiencia {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

body.dark-mode .experiencia {
  background-color: #343a40;
  color: #f8f9fa;
}

.experiencia h3 {
  color: #007bff;
  margin-bottom: 5px;
}

.experiencia h4 {
  font-size: 1em;
  margin-bottom: 10px;
  font-weight: normal;
  color: #99a0a7;
}

.experiencia ul {
  list-style: none;
  padding: 0;
}

/* Efeito Hover */
.experiencia:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Estilos para Habilidades e Competências */
#habilidades {
  padding: 80px 0;
}

.habilidades-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.habilidade {
  background-color: #666;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.habilidade img {
  width: 50px;
  margin-bottom: 10px;
}

.habilidade h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #f4f4f4;
}

.habilidade p {
  font-size: 0.9em;
  color: #f4f4f4;
}

.habilidade:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

#projetos,
#contato {
  background-color: #f8f8f8;
}

/* Estilos do Rodapé */
/* Estilos do Rodapé (Modo Claro) */
footer {
  background-color: #f8f9fa;
  color: #333;
  padding: 40px 0;
}

/* Estilos do Rodapé (Modo Escuro) */
body.dark-mode footer {
  background-color: #222;
  color: #f0f0f0;
}

body.dark-mode .footer-section h2 {
  color: #00ffff;
}

footer .footer-section.about p {
  /* Seletor mais específico para o parágrafo da seção "Sobre Mim" */
  color: #333;
}

body.dark-mode footer .footer-section.about p {
  color: #99a0a7;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-section {
  width: 25%;
  margin-bottom: 20px;
  text-align: center;
}

.footer-section img {
  /* Estilos para o logo */
  color: #007bff;
  max-width: 150px;
  margin-bottom: 10px;
}

.footer-section h2 {
  color: #007bff;
  margin-bottom: 15px;
  font-size: 1.2em;
}

.footer-section p {
  line-height: 1.5;
  margin-bottom: 20px;
  color: #00ffff;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 8px;
}

.footer-section a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: #007bff;
}

.footer-section.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-section.about img {
  max-width: 120px;
  height: auto;
  margin-bottom: 15px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.footer-section.about p {
  text-align: center;
  max-width: 300px;
  line-height: 1.5;
  margin: 0;
}

.social-icons li {
  display: inline-block;
  margin: 0 10px;
}

.social-icons a {
  font-size: 1.8em;
  color: #333;
  transition: transform 0.3s ease;
}

.social-icons li a i {
  margin-right: 12px;
}

.social-icons a:hover {
  transform: translateY(-3px);
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #555;
}

#footer {
  background-color: #222222;
}

#total-visitas {
  display: flex; /* Alinha o ícone e o texto */
  align-items: center; /* Alinha verticalmente ao centro */
  font-size: 1em; /* Tamanho da fonte normal */
  color: #333; /* Cor de texto escura */
  margin-bottom: 20px;
}

#total-visitas::before {
  content: '\f06e'; /* Ícone de olho do Font Awesome */
  font-family: 'Font Awesome 5 Free'; /* Fonte do Font Awesome */
  font-weight: 900; /* Peso da fonte (bold) */
  margin-right: 5px; /* Espaçamento entre o ícone e o texto */
}

/* Modo Escuro */
body.dark-mode {
  background-color: #333;
  color: #f4f4f4;
}

body.dark-mode a {
  color: #00ffff;
}

body.dark-mode header {
  background-color: #222;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  color: #f0f0f0;
}

body.dark-mode nav a {
  color: #00ffff;
}

body.dark-mode nav a:hover {
  background-color: #333;
}

/* Projetos */
.projetos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

#projetos {
  background-color: #f4f4f4;
}

.projeto {
  background: #fff;
  color: #333;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.projeto:hover {
  transform: translateY(-10px);
}

/* Projetos no Modo Escuro */
body.dark-mode .projeto {
  background: #444;
  color: #f4f4f4;
}

body.dark-mode .projeto:hover {
  background: #555;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input,
textarea {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Formulário no Modo Escuro */
body.dark-mode input,
body.dark-mode textarea {
  background-color: #555;
  color: #f4f4f4;
  border: 1px solid #444;
}

body.dark-mode input::placeholder,
body.dark-mode textarea::placeholder {
  color: #ccc;
}

body.dark-mode button {
  background-color: #007bff;
}

body.dark-mode button:hover {
  background-color: #0056b3;
}

/* Botão Hambúrguer no Modo Escuro */
body.dark-mode #menu-btn {
  background-color: transparent;
}
body.dark-mode #menu-btn .bar {
  background-color: #f4f4f4;
}
body.dark-mode #menu-btn:hover .bar {
  background-color: #00ffff;
}

body.dark-mode #projetos {
  background-color: #212529;
}

body.dark-mode #projetos,
body.dark-mode #contato {
  background-color: #212529;
}

/* Remove contorno azul em foco (opcional) */
#menu-btn:focus {
  outline: none;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
  }

  nav.active ul {
    display: flex;
  }

  #menu-btn {
    display: block;
  }

  #theme-toggle-container {
    display: none;
  }

  section {
    padding: 60px 20px;
    margin-top: 80px;
  }

  .footer-content {
    justify-content: center;
  }

  .footer-section {
    width: 50%;
    margin-right: 0;
  }
}
